/* In type partial */
@font-face {
  font-family: 'roboto';
  src: url("/fonts/roboto/Roboto-Bold_0.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'butler';
  src: url("/fonts/butler/Butler_Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important; }

.black-bg {
  background-color: #000000; }

body {
  background-color: #565656; }

.parallax {
  position: relative;
  top: 25%;
  transform: translateY(-50%); }

#chisel {
  display: none; }
  @media screen and (min-width: 1200px) {
    #chisel {
      position: absolute;
      left: 0;
      display: block;
      margin-top: 40px; } }

#shaving {
  display: none; }
  @media screen and (min-width: 1200px) {
    #shaving {
      position: absolute;
      right: 23%;
      display: block;
      margin-top: -100px; } }

#pop-over-images {
  display: none;
  opacity: 0; }

#pop-over {
  display: none;
  opacity: 0; }

.main-container {
  max-width: 750px;
  margin-top: 5%;
  padding: 20px; }

.outer-border {
  padding: 5px;
  border: 1px solid #ffffff; }

.sub-container {
  background-color: #ffffff; }
  .sub-container a {
    color: #f5f5f5;
    float: right;
    padding-right: 10px; }

.pop-over-container {
  padding-top: 25px;
  padding-bottom: 25px; }
  @media screen and (min-width: 480px) {
    .pop-over-container .top-rectangle {
      position: relative;
      top: 170px;
      z-index: 1;
      height: 230px;
      max-width: 70px;
      border: 4px solid #f5f5f5;
      margin-top: -250px; } }
  .pop-over-container h2 {
    position: relative;
    z-index: 2;
    font-family: "butler", serif;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 28px; }
    @media screen and (max-width: 320px) {
      .pop-over-container h2 {
        font-size: 35px; } }
    .pop-over-container h2 span {
      color: #9f173d; }
  .pop-over-container h4 {
    position: relative;
    z-index: 2;
    font-family: "roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px; }
    @media screen and (max-width: 320px) {
      .pop-over-container h4 {
        padding: 0 30px; } }
    @media screen and (min-width: 1200px) {
      .pop-over-container h4 {
        padding: 0 25px; } }

.pop-over-header p {
  font-size: 12px; }

.pop-over-text {
  padding: 25px 40px;
  font-size: 12px; }

.divider {
  max-width: 70px;
  min-height: 2px;
  background-color: #9f173d; }

.lower-list h4 {
  margin-bottom: 15px; }

.lower-list ul span {
  margin-left: 8px; }

.lower-list ul li {
  font-family: "roboto", sans-serif;
  font-weight: 550;
  font-size: 12px;
  line-height: 22px; }

.contact {
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #9f173d; }
  @media screen and (min-width: 480px) {
    .contact {
      padding-right: 40px;
      padding-left: 40px; } }
  .contact h3 {
    padding: 25px 30px 0;
    line-height: 18px;
    font-family: "butler", serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff; }
    @media screen and (min-width: 480px) {
      .contact h3 {
        padding: 25px 0 0;
        line-height: 5px; } }
  .contact p {
    line-height: 10px;
    font-family: "roboto", sans-serif;
    font-size: 10px;
    color: #ffffff; }
  .contact form .small-12 {
    margin-right: 5px; }
  .contact form .button {
    font-family: "butler", serif;
    text-transform: uppercase;
    background-color: #000000; }

.checkbox {
  padding-bottom: 25px;
  padding-left: 20px; }
  @media screen and (min-width: 480px) {
    .checkbox {
      padding-bottom: 50px;
      padding-left: 50px;
      padding-right: 20px; } }
  @media screen and (min-width: 1200px) {
    .checkbox {
      padding-left: 100px;
      padding-right: 20px; } }
  .checkbox input[type="checkbox"] {
    background-color: none !important; }
  .checkbox label {
    font-size: 10px;
    line-height: 13px;
    color: #ffffff; }

@media screen and (min-width: 480px) {
  .bottom-rectangle {
    position: relative;
    top: 0;
    z-index: 1;
    height: 50px;
    max-width: 70px;
    border: 4px solid #f5f5f5;
    margin-bottom: -55px; } }
