$opacity-light: 0.2;
$opacity-medium: 0.5;
$opacity-dark: 0.8;

$opacity-black-light: rgba(0, 0, 0, 0.3);
$opacity-black-medium: rgba(0, 0, 0, 0.5);
$opacity-black-dark: rgba(0, 0, 0, 0.8);

$black: #000000;
$gunmetal: #565656;
$white: #ffffff;
$cloud: #f5f5f5;
$red: #9f173d;
