$padding-v-xs: 10px;
$padding-v-sm: 25px;
$padding-v-md: 50px;
$padding-v-lg: 75px;
$padding-v-xl: 100px;
$padding-v-xxl: 175px;
$padding-v-xxxl: 250px;

$padding-h-xs: 5px;
$padding-h-sm: 15px;
$padding-h-md: 40px;
$padding-h-lg: 65px;
$padding-h-xl: 90px;
